<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>{{ project_name }}</display-name>
    <description>{{ project_description }}</description>

    <!-- Setup environment for FileServlet -->
    <context-param>
        <param-name>files.prefix</param-name>
        <param-value></param-value>
    </context-param>

    <!-- Initialize the Jython runtime -->
    <listener>
        <display-name>Jython servlet initializer</display-name>
        <listener-class>org.python.util.PyServletInitializer</listener-class>
    </listener>

    <servlet>
        <servlet-name>Application</servlet-name>
        <servlet-class>com.xhaus.modjy.ModjyJServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
            <param-name>app_filename</param-name>
            <param-value>wsgi.py</param-value>
        </init-param>

        <init-param>
            <param-name>app_callable_name</param-name>
            <param-value>application</param-value>
        </init-param>

        <init-param>
            <param-name>log_level</param-name>
            <param-value>warn</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>Files</servlet-name>
        <servlet-class>org.jruby.webapp.FileServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    {% if is_media_included %}
        <servlet-mapping>
            <servlet-name>Files</servlet-name>
            <url-pattern>{{ settings.MEDIA_URL }}*</url-pattern>
        </servlet-mapping>
    {% endif %}

    {% if is_static_included and settings.STATIC_URL != settings.MEDIA_URL %}
        <servlet-mapping>
            <servlet-name>Files</servlet-name>
            <url-pattern>{{ settings.STATIC_URL }}*</url-pattern>
        </servlet-mapping>
    {% endif %}

    <servlet-mapping>
        <servlet-name>Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>